ibm-generative-ai==0.2.5
langchain==0.0.272
ibm-watson-machine-learning==1.0.316
flask-cors==4.0.0
pypdf==3.15.2
fastapi==0.97.0
uvicorn
torch
InstructorEmbedding
sentence-transformers
faiss-cpu






